table, th, td {
    border: 1px inset grey;
    border-collapse: separate;
}

caption {
    text-align: center; 
}

#celdaColorRojo {
    background-color: red;
}

#celdaColorAzul {
    background-color: blue;
}

#celdaColorVioleta {
    background-color: violet;
}

#celdaColorRosa {
    background-color: pink;
}

#celdaColorVerde {
    background-color: green;
}

#celdaColorMarron {
    background-color: brown;
}

#horaColor {
    background-color: white;
}

