table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

tr td:first-child {
    background-color: green;
}

tr [colspan="5"] {
    background-color: yellow;
}

a {
    text-decoration: none;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

tr :last-of-type:hover {
    font-size: x-large;
}

th::first-letter {
    font-size: x-large;
}

input:required {
    border: 1px solid red;
    padding: 5px;
}

label::after {
    color: red;
    content: "*";
}